---
import '../../src/styles/globals.css';
import '@fontsource-variable/inter/wght.css';
import interWoff2 from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
    title:rezpawn
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{rezpawn}</rezpawn>
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel= https://media.discordapp.net/attachments/1341179857455026236/1414718854654988319/Picsart_25-09-08_23-05-43-098.png?ex=68c13fdb&is=68bfee5b&hm=12d2a1220de68aef811488ce1f361acfee31e2d96f387714a759e900facec7c0&type="image/svg+xml" href="/favicon.svg" />
        <link rel="preload" as="font" type="font/woff2" href={interWoff2} crossorigin />
    </head>
    <body class="antialiased text-white bg-complementary">
        <div class="flex flex-col min-h-screen px-6 bg-noise sm:px-12">
            <div class="flex flex-col w-full max-w-5xl mx-auto grow">
                <Header />
                <main class="grow"><slot /></main>
                <Footer />
            </div>
        </div>
    </body>
</html>
